open chrome : google-chrome
chrome : google-chrome
google-chrome : google-chrome
google chrome : google-chrome
google home : google-chrome
browser : google-chrome
internet : google-chrome
sublime text : subl
sublime : subl
text : subl
terminal : gnome-terminal
command line : gnome-terminal
show movie : vlc
vlc : vlc
videos : vlc
